<!DOCTYPE HTML>
<html>
	<head>
		<title>Brace Forecast</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo"><strong>Brace</strong>Forecast</a>
					<!-- <nav id="nav">
						<a href="index.html">Home</a>
					</nav> -->
					<!-- <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a> -->
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1 style="color: #296d98; font-size: 5em; margin-top: -1.5em;">Do you need braces? Let's take a look!</h1>
					</header>

					<img style="margin-top: -3em;" class = "logo" src="../static/images/Logo.gif"/>

					<div class="flex ">

					<footer>
						<a href="#footer" class="button" style="margin-top: 2em;">Learn More</a>
					</footer>
				</div> 
			</section>


		<!-- Three -->
			<section id="three" class="wrapper align-center">
				<h1 style="color: #296d98; font-size: 3em;">Oral Hygiene Tips</h1>
				<div class="inner">
					<div class="flex flex-2">
						<article>
							<div class="image round">
								<img src="../static/images/brush.webp" alt="Pic 01" />
							</div>
							<header>
								<h3>Brushing</h3>
							</header>
							<ol>
								<li>Practice good technique.</li>
								<li>Brush your teeth for two minutes.</li>
								<li>Keep your equipment clean.</li>
								<li>Try to keep it separate from other toothbrushes in the same holder to prevent cross-contamination. </li>
								<li>Invest in a new toothbrush every three months</li>	
							</ol>
						</article>
						<article>
							<div class="image round">
								<img src="../static/images/floss.jpg" alt="Pic 02" />
							</div>
							<header>
								<h3>Flossing</h3>
							</header>
							<ol>
								<li>Don't rush.</li>
								<li>Don't snap the floss into your gums. When the floss reaches your gum line, curve it against one tooth, making a c shape.</li>
								<li>Use the floss to gently rub the side of the tooth in an up-and-down motion.</li>
								<li>If you find it hard to handle the floss,  try using a water flosser.</li>
							</ol> 
							<!-- <footer>
								<a href="#" class="button">Learn More</a>
							</footer> -->
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h1 style="color: #296d98; font-size: 3em;">Brace Yourself</h1>

					<form action="/send" method="POST" role="form">

						<div class="field">
							<label for="message">Name</label>
							<textarea name="message" id="message" rows="1" placeholder="Name"></textarea>
						</div>
						<div class="field">
							<label for="message">Email</label>
							<textarea name="email" id="email" rows="1" placeholder="Email"></textarea>
						</div>
						<div class="field">
							<label for="message">Address</label>
							<textarea name="address" id="address" rows="1" placeholder="Address"></textarea>
						</div>

						<div class="text-center"><button type="submit">Save Information</button></div>
					</form>

					<h1 style="color: #296d98; font-size: 1.5em;"><strong>Uploading Instructions:</strong></h1>
					<p>Please upload a picture of your teeth while making sure that both your front and bottom teeth can be seen.</p>
					<p style="font-size: 1em;">As more images are put through the machine learning model, the better the accuracy of predicting whether braces are needed will be.</p>

					<form action="/upload-image" method="POST" enctype="multipart/form-data">						
						<input type="file" accept="image/*" name="file" id="file" class="inputfile" />
						<label for="file">Choose a file</label>
				
						<script>
							const fileInput = document.getElementById('file-input');
				
							fileInput.addEventListener('change', (e) => doSomethingWithFiles(e.target.files));
						</script>
				
						<div class="text-center"><button type="submit">Upload Image</button></div>
				
					</form>

					<div class="copyright">
						&copy; Brace Forecast
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script> 

	</body>
</html>
